<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" version='1'/>
    <title>Nax.one - 致力于打造一流的星云链 PoD 节点服务</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta name="description"
          content="致力于打造一流的星云链 PoD 节点服务"/>
    <meta name="Keywords" content="nax.one,nas,nax,nebulas,星云链,挖矿,PoD"/>
</head>
<body>
	<div id="root"></div>
</body>
</html>